<h1><%=kind%></h1>
<% if(kind=='로그인'){ %>
<form action="/login_process" method="post">
    <div class="row mb-3">
        <label for="inpputEmail3" class="col-sm-2 col-form-label">로그인 ID *</label>
        <div class="col-sm-5">
            <input type="id" class="form-control" placeholder="ID" name="id" maxlength="20">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password *</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="inputPassword3" name="pw" maxlength="20">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
<% }else{ %>
    <form action="/passwordChange_process" method="post">
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">기존 비밀번호 *</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="inputPassword3" name="pw" maxlength="20">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">변경 비밀번호 *</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="inputPassword3" name="newPW" maxlength="20">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">변경 비밀번호 재입력 *</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="inputPassword3" name="newPWR" maxlength="20">
            </div>
        </div>    
        <button type="submit" class="btn btn-primary">확인</button>
    </form>
<% } %>
