
        <h1>직원명함</h1>
        <table class="table table-sm table-bordered" style="width: 600px">
            <%
                var i =0;
                while(i<results.length){
            %>
                    <tr><td class="td td-sm"><%=results[i].name%></td><td><%=results[i].title%>
                    </td><td><%=results[i].tel%></td></tr>
            <%      <!--results[i].title변수니까 '='까지 붙임-->
                    i++;
                }
            %>
        </table>